<!-- views/index.ejs -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agenda de Contatos</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <header>
        <nav>
            <!--<img src="" alt="logo">-->
            <h1>Agenda de Contatos</h1>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/adicionar">Adicionar contatos</a></li>
                <li><a href="/listar">Listar Contatos</a></li>
                <li><a href="/detalhar">Detalhar Contatos</a></li>
            </ul>

        </nav>

        <div class="barra">
            <h1> Agenda de Contatos</h1>
        </div>

        <div class="paragrafo">
            <h1> Cadastrar Contatos</h1>

        </div>

        <main class="form-cadastro">
            <div class="form-container">
                <form class="login__form">
                    <input class="login__input" type="nome" placeholder="Digite o seu nome">
                    <span class="login__input-border"></span>

                    <input class="login__input" type="sobrenome" placeholder="Digite o seu sobrenome">
                    <span class="login__input-border"></span>

                    <input class="login__input" type="telefone" placeholder="Digite o seu telefone">
                    <span class="login__input-border"></span>

                    <input class="login__input" type="email" placeholder="Digite o seu email">
                    <span class="login__input-border"></span>

                    <input class="login__input" type="data_nascimento" placeholder="Digite a sua data de nascimento">
                    <span class="login__input-border"></span>


                    <button class="login__submit">Logar</button>

                </form>
            </div>
        </main>

        </div>
    </header>

    <footer>
        Projeto desenvolvinto por Vanessa
    </footer>
</body>

</html>