* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
}

header nav {
    display: flex;
    justify-content: space-between;
    margin: auto 20px;
    background-color: rgb(252, 128, 80);
    color: rgb(255, 255, 255);
    font-weight: bold;
    height: 50px;
    padding: 10px;
    text-align: center;
}

header nav p {
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    font-size: 2rem;
    color: black;
}

header nav ul {
    list-style: none;
    display: flex;
}

header nav li {
    margin: 0 15px;
}

.header-content {
    max-width: 400px;
    margin: 150px auto;
    text-align: center;
}

.header-content h1 {
    margin-bottom: 18px;
    font-size: 4rem;
}

.header-content p {
    color: white;
}

ul a {
    margin: 8px;
    padding: 2px;
    color: rgb(255, 251, 251);
    list-style: none;
    text-decoration: none;
}

.barra {
    background: #f1da74;
    height: 250px;
    margin: 15px;
    text-align: center;
}

div {
    height: 250px;
    margin: 15px;
    text-align: center;
}

footer {
    background: #f1da74;
    height: 40px;
    margin: 5px;
    text-align: center;
}