* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
}

header nav {
    display: flex;
    justify-content: space-between;
    margin: auto 20px;
    background-color: #792318;
    color: rgb(255, 255, 255);
    font-weight: bold;
    height: 50px;
    padding: 10px;
    text-align: center;
}

header nav p {
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    font-size: 2rem;
    color: black;
}

header nav ul {
    list-style: none;
    display: flex;
}

header nav li {
    margin: 0 15px;
}

.header-content {
    max-width: 400px;
    margin: 150px auto;
    text-align: center;
}

.header-content h1 {
    margin-bottom: 18px;
    font-size: 4rem;
}

.header-content p {
    color: white;
}

.form-cadastro {
    height: 50vh;
    background: var(--input-linear);
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-container {
    height: 130vh;
    width: 300px;
    flex-direction: column;
    align-items: center;
    background: var(--input-linear);
    display: flex;
    box-sizing: border-box;
    padding: 32px;
    border-radius: 8px;
}

.login__title {
    margin-bottom: 32px;
    color: var(--black);
}

.login__form {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: rgb(236, 185, 118);
}

.login__input {
    height: 48px;
    width: 100%;
    box-sizing: border-box;
    padding-left: 12px;
    margin-bottom: 5px;
    /* border: unset;
    outline: none; */
    position: relative;
}

.login__submit {
    height: 48px;
    width: 100%;
    padding-left: 8x;
    outline: none;
    position: relative;
    background: rgb(110, 9, 9);
    background-size: 200%;
    margin-bottom: 32px;
    font-size: 16px;
    font-weight: bold;
    border: unset;
    cursor: pointer;
    border-radius: 4px;
    transition: 0.5s ease;
    color: white;
}

.login__submit:hover {
    background-color: rgb(192, 230, 233);
    color: #1f1817;
}

ul a {
    margin: 8px;
    padding: 2px;
    color: rgb(255, 253, 252);
    list-style: none;
    text-decoration: none;
}

ul li a:hover {
    color: rgb(236, 185, 118);
}

.barra {
    height: calc(65vh - 100px);
    background: url('./imagens/imagem.jpg') no-repeat center/cover;
    background-size: cover;
    font-family: 'Roboto', sans-serif;
}

div {
    height: 250px;
    margin: 15px;
    text-align: center;
}

.paragrafo {
    height: 250px;
    margin: 15px;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    color: black;
}

footer {
    background: #792318;
    margin: 0px;
    padding: 18px;
    height: 5px;
    text-align: center;
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
}